
     <section class="formacion" id="educacion">
      <div class="educacion1 container-educacion">
        <h1 class="text-center">Formación académica</h1>
        <br><br>
        <section class="educacion">
          <div class="cont-expert">
            <img src="assets/img/3.png" alt="">
            <h3 class="n-expert">UDO</h3>
            <p class="parrafo">Universidad de Oriente</p>
          </div>
          <div class="cont-expert">
            <img src="assets/img/4.png" alt="">
            <h3 class="n-expert">Alura</h3>
            <p class="parrafo"> Alura Latam</p>
          </div>
          <div class="cont-expert">
            <img src="assets/img/2.png" alt="">
            <h3 class="n-expert">Cessi</h3>
            <p class="parrafo"> Cámara de la industria Argentina del Software</p>
          </div>
        </section>
      </div>
    
    </section>
